<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Feedback backend</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>

    <div>
        <p>GET all users: <code class="path">/api/users</code></p>
        <p>GET one user: <code class="path">/api/users/:userId</code></p>
        <p>
            POST a user: <code class="path">/api/users</code><br />
            <code>body: { name: 'User Name', email: 'user@email.com' }</code>
        </p>
        <p>
            PATCH a user: <code class="path">/api/users/:userId</code><br />
            <code>body: { name: 'User Name', email: 'user@email.com' }</code>
        </p>
        <p>DELETE a user: <code class="path">/api/users/:userId</code></p>
    </div>

</body>

</html>